#container{
	font-family: sans-serif;
	text-align: center;
	font-size: 14px;
	width: 600px;
	height: 200px;
	margin: 0 auto;
	padding-top: 50px;
}
a:link {
    color: #0B4C5F;
}
a:visited {
    color: #0B4C5F;
}
a:hover {
    color: #088A08;
}
a:active {
    color: #DF3A01;
}
#header{
	font-size: 22px;
	background-color: #F2F2F2;
	padding-top: 20px;
	padding-bottom: 20px;
	font-family: sans-serif;
	text-align: center;
	color: #585858;
	font-weight: bold;
}
.form{
	font-family: sans-serif;
	font-size: 14px;
	width: 600px;
	margin: 0 auto;
}
.submit{
	text-align: center;
}